@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="my-container">
    <div class="row">
        <div class="add-venue-holder col s4">
            <div class="add-venue-connection">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            <h4>Add a Venue to this Band</h4>
                        </div>
                        <div class="collapsible-body">
                            <form class="" action="/band_venues/@Model["band"].GetId()" method="post">
                                <div class="form-group">
                                    <select class="form-control" name="add-venue">
                                        @if(@Model["venues"].Count == 0)
                                        {
                                            <option value="0">There are no venues listed</option>
                                        }
                                        else
                                        {
                                            @foreach(var venue in @Model["venues"])
                                            {
                                                <option value="@venue.GetId()">@venue.GetName()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <button class="btn" type="submit" name="button">Add</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="band-holder page-content col s8">
            <div class="card green center-align small-object">
                <h1>@Model["band"].GetName()</h1>
            </div>

            @if(@Model["band"].GetVenues().Count == 0)
            {
                <h4>This band has played at zero venues</h4>
            }
            else
            {
                <div class="card green lighten-1 small-object">
                    <h4 class="small-object">Venues this band has played at:</h4>
                    @foreach(var venue in @Model["band"].GetVenues())
                    {
                        <div class="card center-align small-object green lighten-3">
                            <a href="/venues/@venue.GetId()"><h5>@venue.GetName()</h5></a>
                        </div>

                    }
                </div>
            }
        </div>
    </div>
</div>
