@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="my-container">
    <div class="row">
        <div class="add-band-holder col s4">
            <div class="add-band-connection">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            Add a Band to this Venue
                        </div>
                        <div class="collapsible-body">
                            <form action="/venue_bands/@Model["venue"].GetId()" method="post">
                                <div class="form-group">
                                    <select class="form-control" name="add-band">
                                        @if(@Model["bands"].Count == 0)
                                        {
                                            <option value="0">There are no bands listed</option>
                                        }
                                        else
                                        {
                                            @foreach(var band in @Model["bands"])
                                            {
                                                <option value="@band.GetId()">@band.GetName()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <button class="btn" type="submit" name="button">Add</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="venue-holder page-content col s8">
            <div class="card green center-align small-object">
                <h1>@Model["venue"].GetName()</h1>
            </div>
            @if(@Model["venue"].GetBands().Count == 0)
            {
                <h4>Zero bands have played at this venue</h4>
            }
            else
            {
                <div class="card green lighten-1 small-object">
                    <h4 class="small-object">Bands that have played here:</h4>
                    @foreach(var band in @Model["venue"].GetBands())
                    {
                        <div class="card center-align small-object green lighten-3">
                            <a href="/bands/@band.GetId()"><h5>@band.GetName()</h5></a>
                        </div>

                    }
                </div>
            }
        </div>
    </div>
</div>
